body{
    margin: 0 auto;
    padding: 15px auto;
    overflow: hidden;
    background-color: #535353;
    width: 740px;

}



input{
    margin-top: 25px;
}

.chart-container{
    width: 35rem;
    height: 50vh;
}