<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
    <script src="js/script.js" defer></script>
    <title>Document</title>
</head>
<body>
     <header>
    <h1>Covid Tracker</h1>
    {{> header}}
         <div>
    {{desc}}
    </div>
    <form>
    <input>
    <button type="submit">Search</button>
    </form>
    <p class="textMessageOne"></p>
    <p class="textMessageTwo"></p>
    <div class="chart-container">
        <canvas id="chart"></canvas>
    </div>
     </header>

</body>
</html>